name: Deploy Trading Bot

# This action runs on every push to the 'main' branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: DEBUG - Check Git Pull
        run: |
          ssh -v -o StrictHostKeyChecking=no ${{ secrets.DROPLET_USER }}@${{ secrets.DROPLET_HOST }} "bash -c '
            cd ~/real_options &&

            echo \"--- 1. Pulling latest code... ---\" &&
            git pull &&

            echo \"--- 2. Verifying latest commit... ---\" &&
            git log -n 1 &&

            echo \"--- 3. Verifying file timestamps... ---\" &&
            ls -la
          '"
