name: Deploy Trading Bot

# This action runs on every push to the 'main' branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy and Restart Bot
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DROPLET_USER }}@${{ secrets.DROPLET_HOST }} "bash -c '
            # First, navigate to the repo and pull the latest changes
            # This ensures we have the newest version of the deploy.sh script
            cd ~/real_options &&
            git pull &&

            # Now, execute the deployment script
            ./deploy.sh
          '"
