name: Deploy Trading Bot

# This action runs on every push to the 'main' branch
on:
  push:
    branches:
      - feat/enhance-trading-bot

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy and Restart Bot
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DROPLET_USER }}@${{ secrets.DROPLET_HOST }} "bash -c '
            # Navigate to the repo
            cd ~/real_options &&

            # Fetch all branches from the remote repository
            git fetch &&

            # Switch to the branch that triggered this action
            git checkout ${{ github.ref_name }} &&

            # Pull the latest changes for that branch
            git pull &&

            # Now, execute the deployment script
            ./deploy.sh
          '"